.video-list-section {
  padding-top: 20px;
}

#video-list {
  background-color:rgba(234, 218, 218, 0.3);
  width: 565px;
  height: 968px;
  overflow-y: auto;
  // padding: 5px 20px;
}

#video-list-paragraph {
  margin-top: 0;
}