.urlSection {
  padding-top: 50px;
}

form {
  min-height: 56px;
  display: flex;
  align-items: center;
}

#url {
  font-size: 16px;
  font-weight: 600;
  width: 793px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;

  &::placeholder {
    color: #bbc8d4;
  }
}

.submit {
  border-style: none;
  height: 56px;
  background-color: red;
  color: white;
  padding: 19px 20px;
  border-radius: 4px;
  margin: 0 30px;
  font-weight: 600;
  white-space: nowrap;

}

.select-div {
  width: 200px;
}

select {
  background-image: url('./arrowdown.svg');
  background-position: 50% 90%;
  background-repeat: no-repeat;
  height: 56px;
  width: 84px;
  font-weight: 600;
  border-color: #6d7d8b;
  padding-left: 10%;
  appearance: none;
}

#start {
  border-radius: 4px 0 0 4px;
}

#finish {
  border-left-color: transparent;
  border-radius: 0 4px 4px 0;
}