.urlSection {
  padding-top: 50px;
  padding-bottom: 0;
}

form {
  min-height: 56px;
  display: flex;
  align-items: center;
}

#url {
  font-size: 16px;
  font-weight: 600;
  width: 931px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;

  &::placeholder {
    color: #bbc8d4;
  }
}

.submit {
  border-style: none;
  height: 56px;
  background-color: red;
  color: white;
  padding: 19px 20px;
  border-radius: 4px;
  margin: 0 30px;
  font-weight: 600;
  white-space: nowrap;

}

#start {
  border-radius: 4px 0 0 4px;
}

#finish {
  border-left-color: transparent;
  border-radius: 0 4px 4px 0;
}